.content-edu {
  border: 20px solid #ffdde1;
  padding: 20px 30px 20px 30px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: "PT Serif", serif;
  text-align: left;
}

/*
#content {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0, 2);
}

.condiv {
  background-color: white;
  background-size: cover;
  max-height: 100%vh;
}
*/
#left {
  float: left;
}

#right {
  float: right;
}

.date {
  color: #3498db;
  margin-bottom: 10px;
  /* rem is set by the font size of the body font size */
  /* this will make the letters in the data further apart from each other */
  letter-spacing: 0.2rem;
  font-size: 15px;
  margin-left: 10px;
}

.quote {
  border-left: 8px;
  font-size: 15px;
  font-style: italic;
  padding-left: 5px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #944743;
  /* the size is 2x other elements, so 2rem */
  font-size: 2rem;
}

hr {
  padding: 0px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/*
.post:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
*/
